<h1>{{tool.title}}</h1>
<div style="width: 100%;">
  <code>{{tool.content}}</code>
</div>
<mat-form-field appearance="fill" id="comment_input">
  <mat-label>add a comment</mat-label>
  <textarea matInput [(ngModel)]="comment"></textarea>
</mat-form-field>
<div>
  <button mat-raised-button color="primary" aria-label="Add a comment" class="add-btn" (click)="addComment()">
    <!--      <mat-icon>add</mat-icon>-->
    Add comment
  </button>
  <mat-list>
    <mat-list-item *ngFor="let ds of dataSource">{{ds.comment}}</mat-list-item>
  </mat-list>
  <!--<mat-grid-list cols="2">-->
  <!--  <h1>View {{tool.title}}</h1>-->
  <!--  <mat-grid-tile>-->
  <!--    <div>-->
  <!--      <div>Description: {{tool.description}}</div>-->
  <!--      <div>Tags: &lt;!&ndash;{{tool.tags}}&ndash;&gt;</div>-->
  <!--      <mat-chip-list aria-label="tags"> &lt;!&ndash; ng for loop to go over tools.tags &ndash;&gt;-->
  <!--        <mat-chip *ngFor="let t of tool.tags">{{t}}</mat-chip>-->
  <!--      </mat-chip-list>-->
  <!--    </div>-->
  <!--  </mat-grid-tile>-->
  <!--  <mat-grid-tile style="background-color: aqua">-->
  <!--    <div>Code:</div>-->
  <!--    <code>-->
  <!--      {{tool.content}}-->
  <!--    </code>-->
  <!--  </mat-grid-tile>-->
  <!--  <mat-grid-tile>-->
  <!--    <div>-->
  <!--      <h2>Comments:</h2>-->
  <!--        <mat-form-field appearance="fill" id="comment_input" >-->
  <!--          <mat-label>add a comment</mat-label>-->
  <!--          <textarea matInput [(ngModel)]="comment"></textarea>-->
  <!--        </mat-form-field>-->
  <!--      <div>-->
  <!--        <button mat-raised-button color="primary" aria-label="Add a comment" class="add-btn" (click)="addComment()">-->
  <!--          &lt;!&ndash;      <mat-icon>add</mat-icon>&ndash;&gt;-->
  <!--          Add comment-->
  <!--        </button>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </mat-grid-tile>-->
  <!--  <mat-grid-tile>-->
  <!--    <div>-->
  <!--      <mat-list>-->
  <!--        <mat-list-item *ngFor="let ds of dataSource">{{ds.comment}}</mat-list-item>-->
  <!--      </mat-list>-->
  <!--    </div>-->
  <!--  </mat-grid-tile>-->

  <!--</mat-grid-list>-->




