<h1>{{tool.title}}</h1>
<div class="tool-content" id="tool-code">
  <code>{{tool.tool_code}}</code>
</div>
<div style="text-align: right">
  <button mat-raised-button color="primary" aria-label="Add a comment" (click)="copyToClipboard()">
    copy to clipboard
  </button>
</div>
<div>
  <h4>Tags</h4>
  <mat-chip-list aria-label="tags"> <!-- ng for loop to go over tools.tags -->
    <mat-chip *ngFor="let t of tool.tags">{{t}}</mat-chip>
  </mat-chip-list>
</div>
<div>
  <h4>Comments</h4>
</div>
<div>
  <mat-form-field appearance="fill" style="width:100%">
    <mat-label>add a comment</mat-label>
    <textarea matInput [(ngModel)]="comment"></textarea>
  </mat-form-field>
</div>
<div style="text-align: right;">
  <button mat-raised-button color="secondary" aria-label="Add a comment" (click)="addComment()">
    Add comment
  </button>
</div>
<div>
  <mat-list *ngFor="let ds of dataSource">
    <div class="given-comment">
      <mat-list-item>
        "{{ds.comment}}"
      </mat-list-item>
    </div>
  </mat-list>
</div>




